@import "variables.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.banner {
    position: relative;
    width: 100%;
    height: fit-content;
    top: var(--navbar-height);
    display: flex;
    flex-direction: column;
    z-index: -1;
}

div #banner-background {
    position: relative;
    width: 100%;
    height: auto;
}

div .header {
    position: absolute;
    width: 100%;
    height: fit-content;
    display: inline-flex;
}

div .header-text {
    position: relative;
    margin-top: 4em;
    margin-left: 1.5em;
    width: fit-content;
    height: auto;
    font-size: 2vw;
}

div #profile-pic {
    position: relative;
    width: 25vw;
    height: auto;
    margin-top: 9vw;
    margin-left: 5vw;
}


@media only screen and (max-width: 600px) {

    #profile-pic {
        visibility: hidden;
        opacity: 0;
    }

    .banner {
        overflow: hidden;
    }

    #banner-background {
        display: flex;
        position: absolute;
        
        border: 2px solid green;
        left: -78vw;
        height: auto !important;
        width: 262vw !important;
    }

    .header-text {
        margin-top: 23vw !important;
    }

    .header-text h1 {
        width: max-content;
        font-size: 9vw;
    }

    .header-text h4 {
        font-size: 3.8vw;
    }
}
