@import "variables.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.contact-me-container {
    position: relative;
    top: var(--navbar-height);
    background-color: var(--card-background-color);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

.contact-me-card {
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    margin: var(--margin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contact-me-header {
    margin-top: 1.5vw;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.5vw;
}

label {
    font-size: 1vw;
    font-weight: 200;
}

input {
    font-size: 1vw;
}

.input-row label input {
    margin-top: 0.5vw;
    padding: 0.5vw;
    width: 19vw;
    height: 2vw;

    border: 1px solid var(--text-color);
    border-radius: 4px;
}

.input-row label {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.input-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5vw;
}

.input-col label {
    margin-bottom: 1.5vw;
}

.input-col label input {
    width: 41vw;
    height: 2vw;
    margin-top: 0.5vw;
    padding: 0.5vw;

    border: 1px solid var(--text-color);
    border-radius: 4px;
}

.input-message {
    width: 41vw;
    height: 10vw;
    margin-top: 0.5vw;
    padding: 0.5vw;
    font-size: 1vw;
    resize: none;

    border: 1px solid var(--text-color);
    border-radius: 4px;
}

#submit-btn {
    margin: 1vw;
    font-weight: 800;
    font-size: 1.5vw;
    background-color: var(--button-color);
    border-radius: 200px;
    padding: 0.8vw 1.6vw;
    border: none;
    outline: none;
}

#submit-btn:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}


@media only screen and (max-width: 600px) {

    .contact-me-card {
        border-radius: var(--border-radius-phone);
        width: 100%;
    }

    .contact-me-header {
        font-size: var(--font-size-big-phone);
    }

    .input-row {
        width: auto;
    }

    .input-row label {
        font-size: var(--font-size-small-phone);
    }

    .input-row label input {
        width: 40vw;
        height: 6vw;
        padding: 1vw;
        font-size: var(--font-size-small-phone);
    }

    .input-col label {
        font-size: var(--font-size-small-phone);
        width: 97%;
    }

    .input-col label input {
        width: 100%;
        height: 6vw;
        padding: 1vw;
        font-size: var(--font-size-small-phone);
    }

    .input-message {
        width: 100%;
        height: 35vw;
        padding: 1vw;
        font-size: var(--font-size-small-phone);
    }

    #submit-btn {
        font-size: var(--font-size-button-phone);
        color: var(--text-color);
        padding: var(--button-padding-phone);
    }

    #submit-btn {
        background-color: var(--button-color);
    }
}