@import "variables.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.experience-container {
    position: relative;
    top: var(--navbar-height);
    width: 100%;
    height: 35vw;
    background-color: var(--card-background-color);
    padding-bottom: 1vw;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    font-weight: 800;
    font-size: 2vw;
}

#experience-header {
    margin: 1vw;
}

.card-container {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 1.5vw;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    margin: 1.5vw;
    width: 22vw;
    height: 21vw;
}

.experience-icon {
    font-size: 6vw;
    margin-top: 2vw;
}

.read-more-btn {
    font-size: 1.5vw;
    font-weight: 800;
    background-color: var(--button-color);
    border-radius: 200px;
    padding: 0.8vw 1.6vw;
    margin-top: 3vw;
    border: none;
    outline: none;
}

.read-more-btn:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}