@import "variables.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.footer-container {
    position: relative;
    top: var(--navbar-height);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--button-color);
}

#footer-name {
    white-space: pre;
    font-size: 1.5vw;
    color: #323232;
    margin: 1vw;
    margin-bottom: 0.5vw;
}

.icon-container {
    margin: 1vw;
    margin-top: 0.5vw;
}

.icon-container a {
    font-size: 2.2vw;
    margin: 0.5vw;
    color: #323232;
}

.icon-container a:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    .footer-container #footer-name {
        font-size: var(--font-size-button-phone);
    }

    .icon-container a {
        font-size: 6vw;
        margin: 2vw;
    }
}