@import "variables.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.project-container {
    position: relative;
    top: var(--navbar-height);
    background-color: var(--card-background-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vw;

}

.show-close-btn {
    font-weight: 800;
    font-size: 1.5vw;
    margin: 1.5vw;
    margin-top: 4vw;
    background-color: var(--button-color);
    border-radius: 200px;
    padding: 0.8vw 1.6vw;
    border: none;
    outline: none;
}

.show-close-btn:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

#close-projects-btn {
    border-radius: 100%;
    height: 4.5vw;
    width: 4.5vw;
    font-size: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#more-projects-btn {
    position: absolute;
    bottom: 0;
}

.project-list {
    display:flex;
    flex-direction: column;
    align-items: center;

    max-height: 200vh;
    width: 100%;
    transition: max-height 2s;
    box-shadow: inset 0px -4px 4px -2px rgba(0, 0, 0, 0.25);

    padding-bottom: 5vw;
}

#project-list-hidden {
    max-height: 55vw;
    overflow: hidden;
}

#project-list-visible {
    visibility: visible;
    opacity: 1;
}

.github-repo-link {
    text-decoration: none;
    color: var(--text-color);
}

.project-card {
    width: 85vw;
    height: 22vw;
    /*margin: 7vw;*/
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--card-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    transition: all ease-in-out 0.3s;
}

.project-card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.project-card.hidden{
    visibility: hidden;
    opacity: 0;
    transition-delay: 1s;
    transition: all ease-in-out 2s;
}

.project-card .visible {
    visibility: visible;
    opacity: 0;
}

.project-image-container {
    width: 43vw;
    min-width: 25vw;
    max-width: 25vw;
    height: 15vw;
    overflow: hidden;
    border-radius: var(--border-radius);
    margin: var(--margin);
    border: 0.25vw solid var(--button-color);
}

.project-image {
    width: 25vw;
    height: auto;
}

.project-text {
    font-weight: 600;


}

.tech-header {
    margin-top: 1vw;
}

.tool-list {
    width: fit-content;
    font-weight: 600;
    font-size: 1.5vw;
    -webkit-columns: 3;
}

.tool-list > .tool {
    margin-left: 2vw;
}



@media only screen and (max-width: 600px) {

    #my-projects-header {
        font-size: var(--font-size-big-phone);
        margin-bottom: var(--margin);
    }

    .project-list {
        max-height: 250vh;
    }

    #project-list-hidden {
        max-height: 230vw;
    }

    .project-card {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        margin: 0vw 3vw;
        margin-bottom: 8vw;
        border-radius: var(--border-radius-phone);
    }

    .project-image-container {
        scale: 3;
        margin: 20vw;
        margin-bottom: 15vw;

        
    }

    .project-text-container {
        text-align: center;
        width: 97%;
        margin: var(--margin);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-text-container .project-name {
        font-size: var(--font-size-big-phone);
    }

    .project-text-container .project-text {
        font-size: var(--font-size-small-phone);
        width: 90%;
    }

    .project-text-container .tech-header {
        margin-top: var(--margin);
        margin-bottom: 1vw;
        font-size: var(--font-size-small-phone);
    }

    .tool-list {
        font-size: var(--font-size-small-phone);
        text-align: left;
        -webkit-columns: 2;
        margin-bottom: var(--margin);
    }

    .show-close-btn {
        font-size: var(--font-size-button-phone);
        color: var(--text-color);
        padding: var(--button-padding-phone);

    }
}
